body{
    background-color: lightskyblue;
    
}
header{
    text-align: center;
    width: 50%;
    margin-left: 25%;
}
.titledisp{
    height: 70%;
}
.img{
    height: 10rem;
}

section{
    width: 75%;
    margin-left: 15%;
    margin-right: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
form{
    width: 50%;
    margin-left: 25%;
    

}
label{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.btn:hover{
    background-color: aquamarine;
}